<div id="head">
<mat-grid-list cols="1" rowHeight="700px">
   
    <mat-grid-tile id="HIH">
       <div id="Happy">Happiness is<br> Homemade</div> 
    </mat-grid-tile>

    </mat-grid-list>
</div>

  <div id="food">
  <mat-grid-list  cols="2" rowHeight="525px" >
    <mat-grid-tile id="A" ><h1 >Pizza</h1></mat-grid-tile>
    
    <mat-grid-tile id="B" >
           <div id="pizzadis"> 
              Physical fitness is a state of health and well-being <br>
              and, more specifically, the ability to perform aspects<br>
               of sports, occupations and daily activities. Physical<br>
                fitness is generally achieved through proper <br>
                nutrition,[1] moderate-vigorous physical exercise,[2] <br>
                and sufficient rest.[3]  
            </div>
            <button mat-button color="warn">Read More</button>
    </mat-grid-tile>
   
    <mat-grid-tile id="c">
        <div id="cc"> 
        Physical fitness is a state of health and well-being <br>
        and, more specifically, the ability to perform aspects<br>
         of sports, occupations and daily activities. Physical<br>
          fitness is generally achieved through proper <br>
          nutrition,[1] moderate-vigorous physical exercise,[2] <br>
          and sufficient rest.[3] 
          </div> 
    </mat-grid-tile>
    <mat-grid-tile id="D" >4</mat-grid-tile>
    
  </mat-grid-list>
</div>





