

<mat-toolbar id="nav">
        <h1 id="maintitle">Fitness Lanka</h1>
        <div id="button">
        <button mat-button id="navbutton" routerLink="/">Home</button>  
        <button mat-button id="navbutton" routerLink="/about"> About</button>  
        <button mat-button id="navbutton" routerLink="/contact">Contact</button>  
        <button mat-button id="login" routerLink="/recipes">Login</button>   
        <button mat-button id="signup" routerLink="/recipes">Signup</button>  
        
        

    </div>
</mat-toolbar>

<div>
        <router-outlet>




</router-outlet>
</div>